.profile-h2 {
    /* margin-left: 20px; */
    padding: 20px;
    background-color: aqua;
    margin: 20px;
    border-radius: 10px;

}

.profile-form {
    /* margin-left: 20px; */
    padding: 20px;
    background-color:rgba(155, 155, 155, 0.47);
    margin: 20px;
    border-radius: 10px;
}

.profile-submit-btn {
    margin-top: 15px;
    /* background-color: rgb(255, 196, 0); */
    /* color: rgb(79, 20, 20); */
    border-radius:  5px;
}

