.services{
    padding: 20px;
    display: flex;
}

#services-div {
    background-color:  #ADE1E5;
    padding: 10px;
    margin: 15px;
    border-radius: 5px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    
}
#services-div :hover {
    background-color: #64647e3f;
}

.services-header{
    color: #64647e;
}